# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# FAISS Vector Database
faiss_index/

# Streamlit Cache
.streamlit/

# VS Code
.vscode/

# Uploaded Files
uploads/

# OS Files
.DS_Store
Thumbs.db
